{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Личный кабинет Pulse-Express</title>
		<meta name="description" content="Personal cabinet for the sender" />
		<meta name="keywords" content="Pulse-Express," />
		<meta name="author" content="VLADDOS"/>

		<!-- Favicon Pulse -->
		<link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32">
		<link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16">
		<!-- Favicon
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
		<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">-->

		<!-- vector map CSS -->
		<link href="{% static 'css/jasny-bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
		<!-- Ion.RangeSlider -->
		<link href="{% static 'css/ion.rangeSlider.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/ion.rangeSlider.skinModern.css' %}" rel="stylesheet" type="text/css">



		<!-- Custom CSS -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
		<!-- Fancy-Buttons CSS -->
	<link href="{% static 'css/fancy-buttons.css' %}" rel="stylesheet" type="text/css">
		<!--<link href="{% static 'css/tether.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css">-->

	</head>
	<body>
			<!--Preloader-->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!--/Preloader-->
    <div class="wrapper theme-1-active pimary-color-green">

        <!-- Top Menu Items -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="mobile-only-brand pull-left">
				<div class="nav-header pull-left">
					<div class="logo-wrap">
						<a href="">
							<img class="brand-img" src="{% static 'images/logo.svg' %}" width="90" alt="Pulse Express"/>
						</a>
					</div>
				</div>
				<a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
			</div>
			<div id="mobile_only_nav" class="mobile-only-nav pull-right">
				<ul class="nav navbar-right top-nav pull-right">
					<li>
						<a id="open_right_sidebars" href="">Technical</a>
					</li>
					<li>
						<a id="open_right_sidebar" href="#"><i class="zmdi zmdi-settings top-nav-icon"></i></a>
					</li>
					<li class="dropdown auth-drp">
						<a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="{% static 'images/avatar.svg' %}" alt="user_auth" class="user-auth-img img-circle"/><span class="user-online-status"></span></a>
						<ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
							<li>
								<a href=""><i class="zmdi zmdi-account"></i><span>Профиль</span></a>
							</li>
							<li class="divider"></li>
							<li class="sub-menu show-on-hover">
								<a href="#" class="dropdown-toggle pr-0 level-2-drp"><i class="zmdi zmdi-check text-success"></i> available</a>
								<ul class="dropdown-menu open-left-side">
									<li>
										<a href="#"><i class="zmdi zmdi-check text-success"></i><span>Доступен</span></a>
									</li>
									<li>
										<a href="#"><i class="zmdi zmdi-circle-o text-warning"></i><span>Занят</span></a>
									</li>
									<li>
										<a href="#"><i class="zmdi zmdi-minus-circle-outline text-danger"></i><span>Не доступен</span></a>
									</li>
								</ul>
							</li>
							<li class="divider"></li>
							<li>
								<a href="../logout/"><i class="zmdi zmdi-power"></i><span>Выход</span></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<!-- /Top Menu Items -->

		<!-- Right Sidebar Menu -->
		<div class="fixed-sidebar-right">
			<ul class="right-sidebar">
				<li>
					<div  class="tab-struct custom-tab-1">
						<ul role="tablist" class="nav nav-tabs" id="right_sidebar_tab">
							<li role="presentation" class="active"><a  data-toggle="tab" id="todo_tab_btn" role="tab" href="#todo_tab" aria-expanded="false">загрузки</a></li>
						</ul>
						<div class="tab-content" id="right_sidebar_content">
							<div  id="todo_tab" class="tab-pane fade active in" role="tabpanel">
								<div class="todo-box-wrap">
									<div class="add-todo">
										<a href="javascript:void(0)" class="inline-block txt-grey">
											<i class="zmdi zmdi-more"></i>
										</a>
										<span class="inline-block txt-dark">Список загрузок</span>
										<a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-plus"></i></a>
										<div class="clearfix"></div>
									</div>
									<div class="set-height-wrap">
										<!-- Todo-List -->
										<ul class="todo-list nicescroll-bar">
											<li class="todo-item">
												<div class="checkbox checkbox-default">
													<input type="checkbox" id="checkbox01"/>
													<label for="checkbox01">Excel файл - 23.04.2018</label>
												</div>
											</li>
											<li>
												<hr class="light-grey-hr"/>
											</li>
										</ul>
										<!-- /Todo-List -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- /Right Sidebar Menu -->

			<!-- Main Content -->
		<!-- Main Content -->
		<div class="page-wrapper">
			<div class="container-fluid">

					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						  <button type="button" id="refresh" onclick="location.reload()" class="btn btn-success btn-outline fancy-button btn-0" data-dismiss="modal">Refresh</button>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
								<button type="button" id="add_camera" class="btn btn-success btn-outline fancy-button btn-0" data-dismiss="modal">Добавить</button>
							</div>

							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<!--<div class="panel-body">-->
												<p style="font-size: 10px; line-height: unset" class="muted">Измените размер изображений передвигая ползунок</p>
												<!--<div class="mt-40" style="margin-top: auto">-->
													<input type="text" id="range_4" value="" name="range" />
												<!--</div>
											<!--</div>-->
							</div>

						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-5 col-sm-6 col-md-6 col-xs-12">
						  <ol class="breadcrumb">
							<li><a href="../menu/"><span>Меню</span></a></li>
							<li class="active"><span>Камеры</span></li>
						  </ol>
						</div>
						<!-- /Breadcrumb -->
					</div><div class="row" style="margin-top: 40px">
					<!-- /Title -->

				<!--<div id="modal_9" class="modal fade" tabindex="-1">
 <div class="modal-dialog modal-lg modal-dialog-centered"role="document">
  <div class="modal-content">
   <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
    <h4 class="modal-title">UN0244</h4>
   </div>
   <img src="{% static 'images/x-demo-images/1.gif' %}" alt="UN0244">
<!--<div class="modal-body">Текст уведомления</div>-->
<!--<div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button></div>
  </div>
 </div>
</div>-->

				{% for camera in cameras %}
				<a href="#modal" data-backdrop="true" data-toggle="modal" data-target="#modal_{{camera.number}}">
<img class="cameras" style="visibility: hidden" src="#{{ camera.url }}"  width="155" height="155" alt={{ camera.name }}>
	<span style="display: none;"><b><strong>Камера {{ camera.number }} -> </strong></b> {{ camera.name }} </span>
</a>
				{% endfor %}
		<!--
<a href="{% static 'images/x-demo-images/1.gif' %}" class="flipLightBox">
<img class="cameras" style="visibility: hidden" src="#http://172.28.2.2/zm/cgi-bin/nph-zms?mode=jpeg&scale=100&maxfps=15&buffer=1000&monitor=1&connkey=106924&rand=1518705110"  width="155" height="155" alt=>
	<span style="display: none;"><b><strong>Камера -> </strong></b></span>
</a>-->

			<!-- /Main Content -->
			</div>
			</div>
		</div></div>
		<!-- /#wrapper -->

		<!-- jQuery -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
			<!--<script src="{% static 'js/bootstrap.js' %}"></script>
		<!-- JavaScript -->
		<script type="text/javascript" src="{% static 'js/fliplightbox.min.js' %}"></script>
		<script type="text/javascript">$('body').flipLightBox()</script>

		<script src="{% static 'js/jquery.cookie.js' %}"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>
		<script src="{% static 'js/modal-data.js' %}"></script>
			<!-- Ion.RangeSlider -->
		<script src="{% static 'js/moment.min.js' %}"></script>
		<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
		<!-- Slimscroll JavaScript -->
		<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
			<!-- JS script for added camera -->
			<script src="{% static 'js/add_camera.js' %}"></script>
			<!-- Fancy Dropdown JS -->
			<script src="{% static 'js/dropdown-bootstrap-extended.js' %}"></script>
			<!-- Init JavaScript -->
			<script src="{% static 'js/init.js' %}"></script>
	</body>
	{% for camera in cameras %}
	<div class="modal fade" id="modal_{{ camera.number}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="top: 10%">
		<div class="modal-dialog" style="width: fit-content" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
					</button>
					<h5 class="modal-title">{{ camera.name }}</h5>
				</div>
				<div class="modal-body">
					<img class="cameras" src="#{{ camera.url }}" alt={{ camera.name }}>
				</div>
			</div>
		</div>
		<div id="flb-lightbox-text2" style="position: fixed; bottom: 0px; width: 90%; padding: 15px 6% 15px 5%; margin-right: auto; margin-left: auto; background-color: rgb(255, 255, 255); opacity: 0.8; font-size: 14px; line-height: 1.4; color: rgb(0, 0, 0); text-align: center; box-sizing: content-box; display: block; visibility: visible;">
			<b><strong>Камера {{ camera.number}} -&gt; </strong></b> {{camera.name}}
		</div>
	</div>
	{% endfor %}

				<!-- Modal fade windows -->
			<div class="modal fade" id="ModalAddCamera" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="top: 10%">
				<div class="modal-dialog" style="width: 23%" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
														<h5 class="modal-title">Добавить камеру</h5>
													</div>
													<div class="modal-body">
														<form>
															<div class="form-group">
																<label for="recipient-name" class="control-label mb-10">URl-адрес:</label>
																<input type="text" class="form-control" id="recipient-name" placeholder="http://localhost">
															</div>
															<div class="form-group">
																<label for="message-text" class="control-label mb-10">Номер камеры и замечание:</label>
																<textarea class="form-control" id="message-text"></textarea>
															</div>
														</form>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
														<button type="button" class="btn btn-danger" id="added_camera">Сохранить</button>
													</div>
												</div>
											</div>
			</div>
			<!--  End Modal fade windows -->
</html>
