{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Личный кабинет Pulse-Express</title>
		<meta name="description" content="Personal cabinet for the sender" />
		<meta name="keywords" content="Pulse-Express," />
		<meta name="author" content="VLADDOS"/>

		<!-- Favicon Pulse -->
		<link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32">
		<link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16">
		<!-- Favicon
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
		<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">-->

		<!-- vector map CSS -->
		<link href="{% static 'css/jasny-bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>



		<!-- Custom CSS -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->

		<div class="wrapper pa-0">
			<header class="sp-header">
				<div class="sp-logo-wrap pull-left">
					<a href="">
						<img class="brand-img mr-10" src="{% static 'images/halva.png' %}" width="140" alt="Pulse Express"/>
						<span class="brand-text"></span>
					</a>
				</div>
				<div class="form-group mb-0 pull-right">
					<span class="inline-block pr-10">Нет аккаунта ?</span>
					<a class="inline-block btn btn-info  btn-rounded btn-outline" href="#">Зарегистрироваться</a>
				</div>
				<div class="clearfix"></div>
			</header>

			<!-- Main Content -->
			<div class="page-wrapper pa-0 ma-0 auth-page">
				<div class="container-fluid">
					<!-- Row -->
					<div class="table-struct full-width full-height">
						<div class="table-cell vertical-align-middle auth-form-wrap">
							<div class="auth-form  ml-auto mr-auto no-float">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="mb-30">
											<h3 class="text-center txt-dark mb-10">Войти в личный кабинет</h3>
											<h6 class="text-center nonecase-font txt-grey" style="color: {{ color }};">{{ msg }}</h6>
										</div>
										<div class="form-wrap">
											<form action="" method="post">
												{% csrf_token %}
												<div class="form-group">
													<label class="control-label mb-10" for="InputEmail">Email адрес</label>
													<input type="email" class="form-control" required="" id="InputEmail" name="InputEmail" placeholder="Введите email">
												</div>
												<div class="form-group">
													<label class="pull-left control-label mb-10" for="Inputpwd">Пароль</label>
													<a class="capitalize-font txt-primary block mb-10 pull-right font-12" href="#">Забыль пароль ?</a>
													<div class="clearfix"></div>
													<input type="password" class="form-control" required="" id="Inputpwd" name="Inputpwd" placeholder="Введите пароль">
												</div>

												<div class="form-group">
													<div class="checkbox checkbox-primary pr-10 pull-left">
														<input id="checkbox_2" required="" type="checkbox">
														<label for="checkbox_2">Запомнить меня</label>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="form-group text-center">
													<button type="submit" class="btn btn-info  btn-rounded">войти</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>

			</div>
			<!-- /Main Content -->

		</div>
		<!-- /#wrapper -->

		<!-- JavaScript -->

		<!-- jQuery -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.cookie.js' %}"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>

		<!-- Slimscroll JavaScript -->
		<script src="{% static 'js/jquery.slimscroll.js' %}"></script>

		<!-- Init JavaScript -->
		<script src="{% static 'js/init.js' %}"></script>
	</body>
</html>
