{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Личный кабинет Pulse-Express</title>
		<meta name="description" content="Personal cabinet for the sender" />
		<meta name="keywords" content="Pulse-Express," />
		<meta name="author" content="VLADDOS"/>

		<!-- Favicon Pulse -->
		<link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32">
		<link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16">
		<!-- Favicon
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
		<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">-->

		<!-- vector map CSS -->
		<link href="{% static 'css/jasny-bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
		<!-- Footable CSS -->
		<link href="{% static 'css/jsgrid.min.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'css/jsgrid-theme.min.css' %}" rel="stylesheet" type="text/css"/>
		<!-- Footable CSS -->
		<!--<link href="{% static 'css/footable.bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>-->

		<!-- Custom CSS -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

	</head>
	<body>
			<!--Preloader-->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!--/Preloader-->
    <div class="wrapper theme-1-active pimary-color-green">

        <!-- Top Menu Items -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="mobile-only-brand pull-left">
				<div class="nav-header pull-left">
					<div class="logo-wrap">
						<a href="">
							<img class="brand-img" src="{% static 'images/logo.svg' %}" width="90" alt="Pulse Express"/>
						</a>
					</div>
				</div>
				<a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
			</div>
			<div id="mobile_only_nav" class="mobile-only-nav pull-right">
				<ul class="nav navbar-right top-nav pull-right">
					<li>
						<a id="open_right_sidebars" href="">Technical</a>
					</li>
					<li>
						<a id="open_right_sidebar" href="#"><i class="zmdi zmdi-settings top-nav-icon"></i></a>
					</li>
					<li class="dropdown auth-drp">
						<a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="{% static 'images/avatar.svg' %}" alt="user_auth" class="user-auth-img img-circle"/><span class="user-online-status"></span></a>
						<ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
							<li>
								<a href=""><i class="zmdi zmdi-account"></i><span>Профиль</span></a>
							</li>
							<li class="divider"></li>
							<li class="sub-menu show-on-hover">
								<a href="#" class="dropdown-toggle pr-0 level-2-drp"><i class="zmdi zmdi-check text-success"></i> available</a>
								<ul class="dropdown-menu open-left-side">
									<li>
										<a href="#"><i class="zmdi zmdi-check text-success"></i><span>Доступен</span></a>
									</li>
									<li>
										<a href="#"><i class="zmdi zmdi-circle-o text-warning"></i><span>Занят</span></a>
									</li>
									<li>
										<a href="#"><i class="zmdi zmdi-minus-circle-outline text-danger"></i><span>Не доступен</span></a>
									</li>
								</ul>
							</li>
							<li class="divider"></li>
							<li>
								<a href="../logout/"><i class="zmdi zmdi-power"></i><span>Выход</span></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<!-- /Top Menu Items -->

		<!-- Right Sidebar Menu -->
		<div class="fixed-sidebar-right">
			<ul class="right-sidebar">
				<li>
					<div  class="tab-struct custom-tab-1">
						<ul role="tablist" class="nav nav-tabs" id="right_sidebar_tab">
							<li role="presentation" class="active"><a  data-toggle="tab" id="todo_tab_btn" role="tab" href="#todo_tab" aria-expanded="false">загрузки</a></li>
						</ul>
						<div class="tab-content" id="right_sidebar_content">
							<div  id="todo_tab" class="tab-pane fade active in" role="tabpanel">
								<div class="todo-box-wrap">
									<div class="add-todo">
										<a href="javascript:void(0)" class="inline-block txt-grey">
											<i class="zmdi zmdi-more"></i>
										</a>
										<span class="inline-block txt-dark">Список загрузок</span>
										<a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-plus"></i></a>
										<div class="clearfix"></div>
									</div>
									<div class="set-height-wrap">
										<!-- Todo-List -->
										<ul class="todo-list nicescroll-bar">
											<li class="todo-item">
												<div class="checkbox checkbox-default">
													<input type="checkbox" id="checkbox01"/>
													<label for="checkbox01">Excel файл - 23.04.2018</label>
												</div>
											</li>
											<li>
												<hr class="light-grey-hr"/>
											</li>
										</ul>
										<!-- /Todo-List -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- /Right Sidebar Menu -->

		<!-- Main Content -->
		<div class="page-wrapper">
			<div class="container-fluid">
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						  <h5 class="txt-dark">Текущие отправления</h5>
						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						  <ol class="breadcrumb">
							<li><a href="../menu/"><span>Меню</span></a></li>
							<li class="active"><span>Отправления</span></li>
						  </ol>
						</div>
						<!-- /Breadcrumb -->
					</div>
					<!-- /Title -->

					<!-- Row -->
					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-dark">jsgrid Table</h6>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<div class="table-wrap">
											<div id="jsgrid_1"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->

				</div>
		</div>
		<!-- /#wrapper -->



		<!-- jQuery -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<!-- JavaScript -->

		<script src="{% static 'js/jquery.cookie.js' %}"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>

		<!-- JSgrid table JavaScript -->
		<script src="{% static 'js/db.js' %}"></script>
		<script src="{% static 'js/jsgrid.min.js' %}"></script>
		<script src="{% static 'js/jsgrid-data.js' %}"></script>

		<!-- Data table JavaScript -->
		<script src="{% static 'js/moment.min.js' %}"></script>
		<script src="{% static 'js/footable.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/footable-data.js' %}"></script>

		<!-- Slimscroll JavaScript -->
		<script src="{% static 'js/jquery.slimscroll.js' %}"></script>

		<!-- Init JavaScript -->
		<script src="{% static 'js/init.js' %}"></script>
	</body>
</html>
