{% load staticfiles %}
{% load timetags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>ParserApp</title>
	<meta name="description" content="Personal cabinet for the client" />
	<meta name="keywords" content="Parser" />
	<meta name="author" content="VLADDOS"/>

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
	<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<!-- Data table CSS -->
	<link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>

	<!-- Custom CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
	<!--Preloader-->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!--/Preloader-->
    <div class="wrapper theme-1-active pimary-color-green">

        <!-- Top Menu Items -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="mobile-only-brand pull-left">
				<div class="nav-header pull-left">
					<div class="logo-wrap">
						<a href="index.html">
							<span class="brand-text">ParserApp</span>
						</a>
					</div>
				</div>
				<a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
				<a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
				<form id="search_form" role="search" class="top-nav-search collapse pull-left">
					<div class="input-group">
						<input type="text" name="example-input1-group2" class="form-control" placeholder="Search">
						<span class="input-group-btn">
						<button type="button" class="btn  btn-default"  data-target="#search_form" data-toggle="collapse" aria-label="Close" aria-expanded="true"><i class="zmdi zmdi-search"></i></button>
						</span>
					</div>
				</form>
			</div>
		</nav>
		<!-- /Top Menu Items -->

		<!-- Main Content -->
		<div class="page-wrapper">
			<div class="container-fluid">

				<!-- Title -->
				<div class="row heading-bg">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					  <h5 class="txt-dark">База MySql</h5>
					</div>
					<!-- Breadcrumb -->
					<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
					  <ol class="breadcrumb">
						<li><a href="index.html">DataBase</a></li>
						<li><a href="#"><span>table</span></a></li>
						<li class="active"><span>View</span></li>
					  </ol>
					</div>
					<!-- /Breadcrumb -->
				</div>
				<!-- /Title -->

				<!-- Row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default card-view">
							<div class="panel-wrapper collapse in">
								<div class="panel-body">
									<div class="table-wrap">
										<div class="table-responsive">
											<table id="example" class="table table-hover display  pb-30" >
												<thead>
													<tr>


														<th>Категория</th>
														<th>Бита</th>
														<th>Цена авто</th>
														<th>Заголовок</th>
														<th>Создана</th>
														<th>Изменена</th>
														<th>Переоткрыта</th>
														<th>Особенности</th>
														<th>Детали</th>
														<th>Аттрибуты автомобиля</th>
														<th>Ссыль</th>
													</tr>
												</thead>
												<tfoot>
													<tr>
														<th>Категория</th>
														<th>Бита</th>
														<th>Цена</th>
														<th>Заголовок</th>
														<th>Создана</th>
														<th>Изменена</th>
														<th>Переоткрыта</th>
														<th>Особенности</th>
														<th>Детали</th>
														<th>Аттрибуты автомобиля</th>
														<th>Ссыль</th>
													</tr>
												</tfoot>
												<tbody>
												{% for car in Cars %}
													<tr>
														<td>{{ car.category }}</td>
														{% if car.hasDamage %}
														<td>Да</td>
														{% else %}
														<td>Нет</td>
														{% endif %}
														<td>{{ car.price }}</td>
														<td>{{ car.title }}</td>
														<td>{{ car.created|print_timestamp }}</td>
														<td>{{ car.modified|print_timestamp }}</td>
														<td>{{ car.renewed|print_timestamp }}</td>
														<td>{{ car.features }}</td>
														<td>{{ car.details }}</td>
														<td>{{ car.attr }}</td>
														<td><a href="{{ car.url }}">Ccылка на авто</a></td>
													</tr>
												{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->
			</div>

			<!-- Footer -->
			<footer class="footer container-fluid pl-30 pr-30">
				<div class="row">
					<div class="col-sm-12">
						<p>2017 &copy; Jetson. Pampered by Hencework</p>
					</div>
				</div>
			</footer>
			<!-- /Footer -->

		</div>
		<!-- /Main Content -->

    </div>
    <!-- /#wrapper -->

	<!-- JavaScript -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

	<!-- Data table JavaScript -->
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/dist/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'js/dist/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'js/dist/jszip/dist/jszip.min.js' %}"></script>
	<script src="{% static 'js/dist/pdfmake/build/pdfmake.min.js' %}"></script>
	<script src="{% static 'js/dist/pdfmake/build/vfs_fonts.js' %}"></script>

	<script src="{% static 'js/dist/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'js/dist/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'js/dist/export-table-data.js' %}"></script>

	<!-- Slimscroll JavaScript -->
	<script src="{% static 'js/jquery.slimscroll.js' %}"></script>

	<!-- Owl JavaScript -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>

	<!-- Switchery JavaScript -->
	<script src="{% static 'js/switchery.min.js' %}"></script>


	<!-- Fancy Dropdown JS -->
	<script src="{% static 'js/dropdown-bootstrap-extended.js' %}"></script>

	<!-- Init JavaScript -->
	<script src="{% static 'js/dist/init.js' %}"></script>

</body>

</html>
