<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pulse</title>
      <link rel="stylesheet" href="../../static/styles/bootstrap.css">
      <link rel="stylesheet" href="../../static/styles/main.css">
  </head>
  <style>

  </style>
  <body>
    <header>
        <div class="wrapper theme-1-active pimary-color-green">
        <!-- Top Menu Items -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div id="mobile_only_nav" class="mobile-only-nav pull-right">
				<ul class="nav navbar-right top-nav pull-right">
                    <li>
                        <div class="localization-toggle">
                            <a href="#" class="box"></a>
                        </div>
                    </li>
					<li>
						<a id="open_right_sidebars" href="">почтомат</a>
					</li>
					<li>
						<a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="../../static/images/rfdm.png"  alt="user_auth" class="user-auth-img"><span class="user-online-status"></span></a>
					</li>
				</ul>
			</div>
		</nav>
      </div>

  </header>

    <section class="content" id="signin-delivery">
    <div class="container">

      <div class="row">
        <div class="signin col-md-12 text-center" >

              <p class="error__message">
              </p>
            <form action="" method="POST" autocomplete="off" class="form-inline text-center">
            <input type="hidden" name="action" value="check_auth" />
            <div class="form-group">
              <input type="text" name="login" id="id_login" value="" maxlength="15" class="form-control input-lg" placeholder="ЛОГИН/ТЕЛЕФОН"/>
            </div>
            <div class="form-group">
              <input type="password" name="passwd" value=""  id="id_passwd" class="form-control input-lg " placeholder="Пароль">
            </div>
            <div class="form-group">
              <input type="submit" class="button__orange" value="Войти" />
            </div>
            <div class="form-group">
              <input type="button" class="button__beige to_idle" value="Отмена" />
            </div>
          </form>

        </div>
        <div class="col-md-12 keyboard numpad">
  <div class="keyboard">
    <!--for row in ["~!@#$%^&*()", "1234567890+", "qwertyuiop=", "asdfghjkl_-", "zxcvbnm"] %}-->
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 text-center">
            <!--<input type='button' class='shift letter btn btn-sq' value='&#129105;'/>-->
            <input type='button' class='letter btn btn-sq' value='~'/>
            <input type='button' class='letter btn btn-sq' value='!'/>
            <input type='button' class='letter btn btn-sq' value='@'/>
            <input type='button' class='letter btn btn-sq' value='#'/>
            <input type='button' class='letter btn btn-sq' value='$'/>
            <input type='button' class='letter btn btn-sq' value='%'/>
            <input type='button' class='letter btn btn-sq' value='^'/>
            <input type='button' class='letter btn btn-sq' value='&'/>
            <input type='button' class='letter btn btn-sq' value='*'/>
            <input type='button' class='letter btn btn-sq' value='('/>
            <input type='button' class='letter btn btn-sq' value=')'/>
            <input type='button' class='letter btn btn-sq' value='1'/>
            <input type='button' class='letter btn btn-sq' value='2'/>
            <input type='button' class='letter btn btn-sq' value='3'/>
            <input type='button' class='letter btn btn-sq' value='4'/>
            <input type='button' class='letter btn btn-sq' value='5'/>
            <input type='button' class='letter btn btn-sq' value='6'/>
            <input type='button' class='letter btn btn-sq' value='7'/>
            <input type='button' class='letter btn btn-sq' value='8'/>
            <input type='button' class='letter btn btn-sq' value='9'/>
            <input type='button' class='letter btn btn-sq' value='0'/>
            <input type='button' class='letter btn btn-sq' value='+'/>
            <input type='button' class='letter btn btn-sq' value='q'/>
            <input type='button' class='letter btn btn-sq' value='w'/>
            <input type='button' class='letter btn btn-sq' value='e'/>
            <input type='button' class='letter btn btn-sq' value='r'/>
            <input type='button' class='letter btn btn-sq' value='t'/>
            <input type='button' class='letter btn btn-sq' value='y'/>
            <input type='button' class='letter btn btn-sq' value='u'/>
            <input type='button' class='letter btn btn-sq' value='i'/>
            <input type='button' class='letter btn btn-sq' value='o'/>
            <input type='button' class='letter btn btn-sq' value='p'/>
            <input type='button' class='letter btn btn-sq' value='='/>
            <input type='button' class='letter btn btn-sq' value='a'/>
            <input type='button' class='letter btn btn-sq' value='s'/>
            <input type='button' class='letter btn btn-sq' value='d'/>
            <input type='button' class='letter btn btn-sq' value='f'/>
            <input type='button' class='letter btn btn-sq' value='g'/>
            <input type='button' class='letter btn btn-sq' value='h'/>
            <input type='button' class='letter btn btn-sq' value='j'/>
            <input type='button' class='letter btn btn-sq' value='k'/>
            <input type='button' class='letter btn btn-sq' value='l'/>
            <input type='button' class='letter btn btn-sq' value='_'/>
            <input type='button' class='letter btn btn-sq' value='-'/>
            <input type='button' class='letter btn btn-sq' value='^'/>
            <input type='button' class='letter btn btn-sq' value='z'/>
            <input type='button' class='letter btn btn-sq' value='x'/>
            <input type='button' class='letter btn btn-sq' value='c'/>
            <input type='button' class='letter btn btn-sq' value='v'/>
            <input type='button' class='letter btn btn-sq' value='b'/>
            <input type='button' class='letter btn btn-sq' value='n'/>
            <input type='button' class='letter btn btn-sq' value='m'/>
            <input type='button' class='letter btn btn-sq' value='<'/>


            <!--<input type='button' class='backspace letter btn btn-sq' value='&#129104;'/>-->

        </div>
      </div>

  </div>
</div>
      </div>

    </div>
  </section>

    <footer>
      <div class="container">
        <!--<div class="footer__settings">
          <a href="#"></a>
        </div>-->
        <!--<div class="footer__info">
          <a href="#">ВЕРНУТЬСЯ</a>
        </div>-->
        <div class="footer__tel">
          Телефон поддержки <span>8&nbsp;800&nbsp;333&nbsp;92&nbsp;63</span>
        </div>
      </div>
    </footer>
  </body>
</html>
