@import "variables.css";

.text-center {
  text-align: center;
}
.text-orange {
  color: $colorOrange;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.hidden {
  display: none;
}

.btn-sq-lg {
  width: 100px !important;
  height: 100px !important;
}

.btn-sq {
  width: 70px !important;
  height: 70px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}


.btn-cell {

  width: 70% !important;
  margin: 2px;
  font-size: 10px;
  display: inline-block;
  &-size-1 {
    height: 40px !important;
  }

  &-size-2 {
    height: 50px !important;
  }

  &-size-3 {
    height: 60px !important;
  }

  &-size-4 {
    height: 70px !important;
  }

  &.opened {
    background: #36982a;
    color: #fff;
  }
  &.broken {
    background: #ff0430;
    color: #fff;
  }
  &.blocked {
    background: #000;
    color: #fff;
  }
  &.dirty {
    background: #f0ad4e;
  }
  &-broken {
    display: inline-block;
    width: 23%;
    vertical-align: middle;
  }
}